@import 'colors.css';
@import 'fonts.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Tajawal&family=EB+Garamond&family=Questrial&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

body {
  background-color: var(--light);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a.primary-cta {
  color: var(--main-background);
  background-color: var(--calm-water-accent);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: large;
  font-family: var(--reader);
  font-weight: normal;
  text-decoration: none;
}

div.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure navbar stays on top of other elements */
}

h2.title {
  text-align: left;
  font-size: var(--title-size);
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--main-background);
}

h2.major {
  font-size: var(--major-size);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

footer.footer-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: var(--main-background);
  background-color: var(--mild-sun);
}
p.footer-text {
  font-family: var(--reader);
  font-weight: normal;
  font-size: small;
}

img.footer-garden {
  background: linear-gradient(
    to bottom,
    var(--light) 0%,
    var(--light) 70%,
    var(--mild-sun) 70%,
    var(--mild-sun) 100%
  );
}

section.core-page {
  margin: 0;
}

section.core-page > a:visited,
a:hover,
a:active {
  color: inherit;
}

a {
  text-decoration: none;
}

a.inline-link-dark {
  color: var(--main-background);
  background-color: var(--calm-water-accent);
  text-decoration: underline;
}

a.inline-link-light {
  color: var(--main-background);
  background-color: var(--mild-sun);
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 760px) {
  section.core-page {
    margin: 0;
  }

  img.footer-garden {
    padding: 0;
  }
}
