@import 'colors.css';

.App {
  text-align: center;
}

body {
  background-color: var(--main-background);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: var(--light)
}

a {
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: inherit;
}

h2.title {
  color: var(--light);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
