:root {
    --main-background: #282c34;
    --dark-water: #354764;
    --mild-sun: #f9f5de;
    --light: #fff;
    --calm-water-accent: #6fa7ab;
    --error-color: #ff0000;
    --soft-green: #b4e9b4;
}