@import 'colors.css';

div.fishing-block {
    background-color: var(--mild-sun);
}

div.fishing-image-container {
    background: linear-gradient(
        to bottom,
        var(--light) 0%,
        var(--light) 40%,
        var(--mild-sun) 40%,
        var(--mild-sun) 100%
      );
}

div.fishing-image-subcontainer {
    margin: 0 20%;
}

#app-subtitle {
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    font-size: larger;
    margin-bottom: 47px;
}

div.product-description {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    font-family: 'EB Garamond', serif;
    font-size: medium;
}

p.github-logo {
    text-align: center;
    color: var(--main-background);
    margin: 1em;
    line-height: 1em;
}

p.product-description {
    color: var(--main-background);
    text-align: center;
    font-size: large;
    font-weight: bold;
}

img.fishing-image {
    object-fit: cover;
    max-width: 100vw;
}

a.github-logo {
    text-decoration: none;
    text-align: center;
}

div.product-description-link {
    text-align: left;
    margin: 2rem;
    display: inline;
}
div.top-section-links {
    margin-top: 37px;
}

p.fishing-text {
    display: block;
    font-size: large;
    margin-right: 25%;
    width: 50%;
    margin-left: 25%;
}

#demo-video {
    outline: 1px solid var(--main-background);
    outline-offset: 8px;
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    justify-self: center;
    margin: 8px;
}

div.founders-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

div.founders-item {
    text-align: center;
}

img.founders-item-image {
    object-fit: cover;
    max-width: 250px;
    outline: 1px solid var(--main-background);
}

div.founders-item-image-container {
    outline: 1px solid var(--main-background);
    outline-offset: 8px;
    max-width: 250px;
    margin: 8px;
}

span.founders-item-name {
    color: var(--main-background);
    font-size: medium;
}

span.founders-item-bio {
    display: block;
}

div.production-description-subcomponent {
    background-color: var(--mild-sun);
    padding: 2% 25%;
    padding-bottom: 4.5%;
    font-size: large;
    text-align: left;
}
div.fishing-description-subcomponent {
    margin: 0px
}

div.production-description-subcomponent-light {
    background-color: var(--light);
    padding: 2% 25%;
    padding-bottom: 4.5%;
    font-size: large;
    text-align: left;
}

h2.production-description-subcomponent {
    text-align: left;
    font-family: 'DM Serif Display', serif;
}

p.founders-item-name {
    margin: 0;
    padding: 0;
}

div.supported-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 7%;
    margin-bottom: -5%;
}

#conclude {
    margin-bottom: -3%;
}

@media screen and (max-width: 760px) {
    div.product-description {
        display: grid;
        grid-template-columns: 1fr;
    }
    p.fishing-text {
        margin: 0 5%;
        width: 90%;
    }

    div.core-package {
        margin: 0 1rem;
    }

    div.founders-text {
        display: grid;
        grid-template-columns: 1fr;
    }

    div.founders-item {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1rem 0;
        padding: 0 1rem;
    }

    img.founders-item-image {
        max-width: 100%;
    }

    #demo-video {
        outline: 1px solid var(--main-background);
        outline-offset: 8px;
        width: 95%;
        max-width: 600px;
        object-fit: cover;
        justify-self: center;
    }

    div.product-description-link {
        text-align: center;
        margin: 1rem;
        display: block;
    }

    div.production-description-subcomponent, div.production-description-subcomponent-light {
        padding: 0 5%;
        padding-bottom: 5%;
    }

    div.founders-item-image-container {
        margin: 0;
    }
    #conclude {
        margin-bottom: 0%;
    }
}