@import 'fonts.css';
@import 'colors.css';

form.invited-form {
    margin: 0 35%;
}

p.invited-title {
    font-family: var(--reader);
    font-size: var(--subtitle-size);
}

input#password, input#confirmPassword {
    font-family: var(--reader);
    font-size: var(--subtitle-size);
}

div.error-message {
    font-family: var(--reader);
    color: var(--error-color);
    text-align: left;
    margin: 0 0 1rem 0;
}

@media screen and (max-width: 768px) {
    form.invited-form {
        margin: 0 10%;
    }
}