@import 'colors.css';
@import 'fonts.css';

input#login-email, input#login-password {
    font-family: var(--reader);
    font-size: var(--subtitle-size);
}

.login-page {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 40px;
}

input#login-email{
    margin-top: 20px;
}
