@import 'colors.css';

ul.navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

section.navSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
}

div.navContent {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0;
}

a.navLinks {
    text-decoration: none;
}
div.navLogo {
    padding-top: 40px;
    padding-bottom: 30px;
}

img.khoj-logo {
    max-height: 152px;
    width: auto;
}

li.navLinks {
    padding: 0.5rem;
    transition: all 0.3s ease;
    font-size: small;
}
#khoj-waves {
    display: none;
}


@media screen and (max-width: 1360px) {
    section.navSection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
    }
    ul.navLinks {
        display: grid;
        grid-template-columns: 1fr;
    }

    li.navLinks {
        margin: 0.5rem 0;
    }

    #khoj-waves {
        display: none;
    }

    section.navSection {
        padding: 0;
    }
}
