@import 'colors.css';

ul.navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

nav.navBar {
    background-color: var(--mild-sun);
}
section.navSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
}

div.navContent {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0;
}

a.navLinks {
    text-decoration: none;
}

img.khoj-logo {
    width: 200px;
}

li.navLinks {
    padding: 0.5rem;
    transition: all 0.3s ease;
    font-size: small;
}
#khoj-waves {
    display: none;
}


@media screen and (max-width: 1360px) {
    section.navSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: column;
    }
    ul.navLinks {
        display: grid;
        grid-template-columns: 1fr;
    }

    li.navLinks {
        margin: 0.5rem 0;
    }

    #khoj-waves {
        display: none;
    }

    section.navSection {
        padding: 0;
    }
}
