@import 'colors.css';
@import 'fonts.css';

div.content {
    text-align: left;
    color: var(--main-background);
    margin: 0 2rem;
    font-family: var(--reader);
    font-size: large;
}

div.content-sections {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

ul.card-content {
    list-style: disc;
    text-align: left;
    font-family: var(--reader);
    font-size: large;
}

h1.article-title {
    margin: 2rem 0;
    font-family: var(--impact);
    font-size: xx-large;
}

div.content-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

div.card-content.notice {
    color: #333;
}

div.card-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

div.card-option {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the card takes up full height */
}

div.card-option.premium {
    background-color: #f9f5de;
}

div.cta {
    margin-top: auto; /* Push the button to the bottom */
}

@media screen and (max-width: 760px) {
    div.article {
        margin: 0 1rem;
    }

    div.content-sections {
        margin-left: 0;
        max-width: 100vw;
    }

    div.card-options {
        grid-template-columns: 1fr;
    }
}